<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerLink}}
</head>
<body>
   
 {{>navbar}}

   <div class="container-flued main_header">
    <div class="row">
       <div class="col-md-10 col-12 mx-auto">
         <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="images/about.jfif" alt="NIK" class="img-fluid" title="NIK">
                </figure>   
                </div>
             <div class="col-md-6 col-12 main_header_left">
             <p>Welcome the Weather App</p>
            <h1>I am a <span class="text_clr">NIK</span> and This is my Weather App</h1>
            <a href="/about.html" target="_about me"><button>check now</button></a>
            </h1>
            </div>
            
         </div>   
       </div>
        </div>
     </div>
 {{>footer}}
</body>
</html>